body {
  height: auto;
  width: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-image: url("../img/back.jpg");
}
/* Game Space */

.first-canvas {
  background-image: url('../img/background2.png');
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 1000px;
  float: left;
}

.background2 {
  background-image: url('../img/background1.png');
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 1000px;
}

.background3 {
  background-image: url('../img/background3.png');
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 1000px;
}

.background4 {
  background-image: url('../img/background4.png');
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 1000px;
}

/* Snake */

/* Food */

/* Text, scores, levels */
.description {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* transition: width 2s, height 2s, background-color 2s, transform 2s; */
}

.points {
  text-align: center;
  overflow: auto;
}

.btn {
  width: 300px;
  margin: 0 auto;
}

.btn-clicked {
  background-color: red;
  color: white;
}

/* .description:hover {
  background-color: red;
  transform: rotate(360deg);
} */

.score {
  padding: 15px 10px;
  border: 2px solid greenyellow;
  border-radius: 45%;
  font-size: 20px;
  background-color: greenyellow;
  display: inline-flex;
}

.level {
  padding: 15px 10px;
  border: 2px solid olive;
  border-radius: 45%;
  font-size: 20px;
  background-color: olive;
  display: inline-flex;
}
